*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/api/target/
/omod/target/

# IntelliJ
.idea
*.iml

# created while running tests
omod/owa
omod/*.zip

/.settings
/.project
/.classpath
.DS_Store
