<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">

    <!-- Module Properties -->
    <id>${project.parent.artifactId}</id>
    <name>${project.parent.name}</name>
    <version>${project.parent.version}</version>
    <package>${project.parent.groupId}.${project.parent.artifactId}</package>
    <author>Saptarshi, Namrata, Sandeep</author>
    <description>
        ${project.parent.description}
    </description>
    <updateURL>https://modules.openmrs.org/modules/download/${project.parent.artifactId}/update.rdf</updateURL>
    <require_version>${openMRSVersion}</require_version>
    <!-- / Module Properties -->

    <aware_of_modules>
        <aware_of_module>org.openmrs.module.legacyui</aware_of_module>
    </aware_of_modules>
	
    <require_modules>
        <require_module>
            org.openmrs.module.webservices.rest
        </require_module>
    </require_modules>
	
    <!-- Module Activator -->
    <activator>${project.parent.groupId}.${project.parent.artifactId}.activator.OwaActivator</activator>
	
    <!-- Adds link to admin page -->
    <extension>
        <point>org.openmrs.admin.list</point>
        <class>${project.parent.groupId}.${project.parent.artifactId}.extension.html.AdminList</class>
    </extension>
    
    <servlet>
        <servlet-name>fileServlet</servlet-name>
        <servlet-class>org.openmrs.module.owa.servlet.FileServlet</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>redirectServlet</servlet-name>
        <servlet-class>org.openmrs.module.owa.servlet.RedirectServlet</servlet-class>
    </servlet>
    
    <filter>
        <filter-name>owaFilter</filter-name>
        <filter-class>org.openmrs.module.owa.filter.OwaFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>owaFilter</filter-name>
        <url-pattern>*</url-pattern>
    </filter-mapping>
	
    <!-- Maps hibernate file's, if present -->
    <mappingFiles>
				
    </mappingFiles>
    
    <globalProperty>
        <property>owa.appFolderPath</property>
        <defaultValue></defaultValue>
        <description>The default location where the apps are stored on disk</description>
    </globalProperty>
    <globalProperty>
        <property>owa.appBaseUrl</property>
        <defaultValue></defaultValue>
        <description>The base URL from where the Open Web Apps are hosted</description>
    </globalProperty>
    <globalProperty>
        <property>owa.appStoreUrl</property>
        <defaultValue>http://modules.openmrs.org</defaultValue>
        <description>The default URL for the OpenMRS appstore</description>
    </globalProperty>

    <!-- Internationalization -->
    <!-- All message codes should start with ${project.parent.artifactId}. -->
    <messages>
        <lang>en</lang>
        <file>messages.properties</file>
    </messages>
    <messages>
        <lang>fr</lang>
        <file>messages_fr.properties</file>
    </messages>
    <messages>
        <lang>es</lang>
        <file>messages_es.properties</file>
    </messages>
    <!-- /Internationalization -->
    <privilege>
        <name>Manage OWA</name>
        <description>Allows to configure OWA module, upload modules</description>
    </privilege>
</module>

