table {
    width:100%;
}

#content{
    color: #000;
}

#barcell {
    padding: 2px;
}

#bannerbar {
    border-spacing: 2px;
    border-collapse: inherit;
}

.appList thead th{
    background-color: #1AAC9B;
    border: 1px solid #CCC;
    color: #FFF;
    padding: 2px;
}

.appList table td{
    border: 1px solid #1AAC9B;
    color: #000;
}

.divTitle{
    border: 1px solid #1AAC9B;
    padding: 10px;
    width: 100%;
}

#fileSpan{
    width: 100%;
}

#fileSpan .bootstrap-filestyle {
    width: 100%;
}

#uploadSpan{
    width: 10%;
    padding: 2px;
}

#clearSpan{
    width: 10%;
    padding: 2px;
}

.divTitle h1{
    text-align: left;
    margin-top: -20px;
    margin-left: 5px;
    height: 20px;
    font-size: 15px;
    font-weight: bold;
}

.divTitle h1 span{
    background-color: white;
}

.divTitle h4{
    background-color: #1AAC9B;
    padding: 5px;
}

.settingValue {
    float: left;
    width: 40%;
}

.settingDescription {
    font-size: 0.8em;
    float: left;
    width: 55%;
}

#progressbar {
    width: 460px;
    margin-bottom: 30px;
}

#appStoreLink {
    font-size: 15px;
    color: #777;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    width: auto;
    max-width: 460px;
}
#sorting {  
    cursor: pointer;
}
#sorting:hover{ 
    color: #337AB7;
}
#sort_filter {
  float: right;
}
#sort_length, #sort_filter {
  display: inline-block;
}
#sort_length select, #sort_filter input {
  background-color: #EEEEEE;
  border: 1px cadetblue;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-sizing: border-box;
  border-style: solid;
}
#sort_info, #sort_paginate {
  display: inline-block;
  margin-top: 3px;
}
#sort_paginate{
  text-align: center;
  float: right;
}
#sort_paginate a {
  text-decoration: none;
  color: white;
  background-color: #337AB7;
  border: 1px #2E6DA4;
  border-radius: 4px;
  border-style: solid;
  margin-right: 3px;
  padding: 1px 5px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
#sort_paginate .current, #sort_paginate .current:hover {
  font-weight: bold;
  background-color: #1AAC9B;
  cursor: auto;
  border: 1px #179687;
  border-style: solid;
}
#sort_paginate a:hover {
  text-decoration: none;
  color: white;
  background-color: #286090;
  border: 1px #1E486c;
  border-radius: 4px;
  border-style: solid;
  margin-right: 3px;
  padding: 1px 5px;
  cursor: pointer;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
